{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<div class="jumbotron">
  <h1>Hello{{ user | capfirst }}</h1>

  <div class="container">

      <br>
      <br>
  </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th>Titile</th>
        <th>Number_of_position</th>
          <th> level</th>
        <th>posting_date</th>

          <th>description</th>


      </tr>
    </thead>
<tbody>
{% for data in object_list %}
<tr>
    <td>
        {{data.title}}
    </td>
    <td>{{data.number_of_position}}</td>
    <td>{{data.level}}</td>
    <td> {{data.posting_date}}</td>
    <td> {{data.desciption}}</td>


</tr>

</tbody>
    {% endfor %}

</table>
</div>
</div>
{% endblock content %}